body {
  padding: 10px;
  font-family: Lato, sans-serif;
  font-size: 40px;
  background-color: white;
}

#login-buttons .login-link-text {
  text-decoration: none;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 75%;
  color: gray;
}

clock {
  font-size: 300%;
  display: flex;
  align-items: center;
  justify-content: center;
}

clock time {
  display: flex;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 0 10px inset gray;
  padding: 0.1em 1em 0.1em 1em;
  font-family: monospace;
  white-space: pre;
}

#userConfigForm > fieldset {
  border: none;
}

#userConfigForm > fieldset > .form-group {
  display: flex;
  justify-content: center;
}

/* #userConfigForm > fieldset > .form-group > label {
  margin-right: 1em;
} */

#userConfigForm > fieldset > .form-group > .help-block {
  display: none;
}
